@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '_customStyles';


@import 'bootstrap';

* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
    
}

.form-control:focus {
  border: solid 2px $gray-200;
  box-shadow: none; 
}

.form-control, select {
  border: solid 2px $gray-200;
}

button{
  outline: none;
  transition: .2s all !important;
  
  &:focus {
    box-shadow: none !important;
  }
}

.btn {
  &:hover {
    transform: scale(95%) !important;
    transition: .2s all !important;
  }
}

select {
  outline: none;
  padding: 6px;
}


label {
  padding: 0 !important;
}

.sidebar{
    width: 200px;
    &-link{
      &:hover{
        svg {
          fill: $gray;
          transition: .2s all;
        }
        span{
          color:$gray !important;
          transition: .2s all;
        }
       
      }
      &--active{
        &::after{
          content: '';
          height: 100%;
          width: 3px;
          background-color: white;
          position: absolute;
          top: 0;
          left: -.4rem;
          border-radius: 2px;
        }
      }
    }
    
}

.content {
  margin-left: 200px;
}

.homepage-content {
  height: calc(100% - 10rem);
}

.table {
  thead {
    background-color: $primary;
    border: 1px solid $primary;
    color: $light;
  }
  
  tbody {
    border-top: 0 !important;
    color: $gray;
    td {
      vertical-align: middle;
    }
  }
}